{% extends 'honeycombs/base.html'%}
{% block content %}
<div class="conteiner">
    <div class="row">
        <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post" >
                        {% csrf_token %}
                               <p> Удалить подписку </p>
                               <button type="submit" class="btn btn-danger">Удалить</button>
                               <a href="{% url 'honeycombs:home'  %}" class="btn btn-success">Отмена</a>
                        </form>
                </div>
        </div>
    </div>
</div>
{% endblock %}
</div>